<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New</title>
  <link rel="stylesheet" href="/resources/css/style.css"  type="text/css">
</head>
<body>

<form class="decor" th:method="POST" th:action="@{/expression/lexic}" th:object="${personalExample}">
  <div class="form-left-decoration"></div>
  <div class="form-right-decoration"></div>
  <div class="circle"></div>
  <div class="form-inner">
    <h3>Введите арифметическое выражение</h3>
    <div style="text-align:center; color:red" th:if="${#fields.hasErrors('ex')}" th:errors="*{ex}">Error</div>
    <input type="text" th:field="*{ex}" placeholder="2+2">
    <input type="submit" value="Отправить">
  </div>
</form>

<form class="decor" th:method="POST" th:action="@{/expression/logic}" th:object="${logicExampleListModel}">
  <div class="form-left-decoration"></div>
  <div class="form-right-decoration"></div>
  <div class="circle"></div>
  <div class="form-inner">
    <h3>Введите логическое выражение</h3>
    <div style="text-align:center; color:red" th:if="${#fields.hasErrors('logicEx')}" th:errors="*{logicEx}">Error</div>
    <h3>Используемые обозначения: xor - @, and - &, or - |, true - t, false - f</h3>
    <input type="text" th:field="*{logicEx}" placeholder="t&f">
    <input type="submit" value="Отправить">
  </div>
</form>

</body>
</html>